page-home {
  .nesmim {
    font-size: 2em;
    color: black;
    text-align: center;
  }
  .ikonka {
    width: 50px;
  }
  .deti {
    width: 70%;
    display: block;
    margin: 20px auto;
  }
  .poznamka {
    text-align: center;
    font-size: .8em;
    position: absolute;
    bottom: 5px;
    left: 10%;
    right: 10%;
  }
}
